<!DOCTYPE html>
<html>
	<head> 
		<title>Запись дисков</title>
		<link href="/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Запись дисков</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/">Диски пользователя</a>
						</li>
						<li>
							<a href="/newdisk">Создать новый диск</a>
						</li>
						<li>
							<a href="/records">Записи пользователя</a>			
						</li>
						<li>
							<a href="/settings">Настройки</a>
						</li>
					</ul>
					<ul class="nav">
						<li>
							<p class="navbar-text navbar-right">Вы вошли как {{user.name_user}}</p>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			{% block rows %}{% endblock %}
		</div>
		<script src="/js/jquery.min.js"></script>	
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/scripts.js"></script>	
	</body>
</html>